
.form-exchange-header{
	text-align: center;
	padding: 10px;
	.row{
		padding : 5px 0px;
		.currency{
			margin: 5px 0px;
		}
	}
	.currency-row{
		display: flex;
		justify-content: space-around;
	}
}
.exchange-form{
	button{
		display: flex;
	}
}

