@import "~bootstrap/scss/bootstrap";

.searchbar-wrapper{
	width: 50%;
	margin: 20px auto;
	position: relative;
	display: flex;
	justify-content: center;

	.list-group{
		height: 250px;
		overflow: auto;
		width: 90%;
		margin: 0px auto;
		position: absolute;
		top: 100%;

		.list-group-item{

			cursor: pointer;
		
			&:hover{
				background-color: #bbb;
			}
	
		}

	}

}
