@import "~bootstrap/scss/bootstrap";

.form-wrapper{
	background-color: rgb(223, 223, 223);
	width: 50%;
	margin: 100px auto;
	padding: 20px;
	border-radius: 15px;

	a{
		text-decoration: none;
	}	

}

.input-group{
	margin: 3px 0px;
}
