
.currency-table-wrapper{
	.currency-table-header{
		text-align: center;
	}
	.currency-table-footer{
		padding: 0px 15px;

		a{
			font-size: 1.3rem;
		}
	}
}

.active-currency-toggle{
	padding: 0px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.2rem;
}

.operation-buttons{
	button{
		margin:0px 5px;
	}
}
