@import "~bootstrap/scss/bootstrap";

.active-currency-toggle{
	padding: 0px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.2rem;

}

.last-update-badge{
	text-align: left;
	margin:20px;
}

.operation-buttons{
	button{
		margin:0px 5px;
	}
}
